<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Document converter">
    <meta name="author" content="Ali Khoramshahi">

    <title>Administration</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/starter-template.css" rel="stylesheet">

    <!-- Include these three JS files: -->
  <script type="text/javascript" src="/javascripts/swfobject.js"></script>
  <script type="text/javascript" src="/javascripts/web_socket.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-1.11.2.js"></script>

  <script type="text/javascript">
    
    WEB_SOCKET_SWF_LOCATION = "WebSocketMain.swf";
    WEB_SOCKET_DEBUG = true;
    
    var ws;
    var myVar;
    var pdfUrl = "";
    var fileUrl = "";
    
    function init() {
      var baseUrl = 'localhost';

      ws = new WebSocket("ws://"+baseUrl+":8001/");

      ws.onopen = function() {
        output("onopen");
      };

      ws.onmessage = function(e) {

        try {

          var res = JSON.parse(e.data)

          console.log(res);
          var msg = document.getElementById("message");

          if(res.type === 'credential') {

              if(res.login) {
                msg.innerHTML = "";
                document.cookie="_userToken=" + res.token;
                console.log("_userToken=" + res.token);
              }
              else {
                msg.innerHTML = res.message;              
              }
          }
          else {
              msg.innerHTML = res.message;              
          }
        }
        catch (err) {

          var output = document.getElementById("output");
          output.value = e.data;
          msg.innerHTML = "wrong data from server";
        }
      };
      ws.onclose = function() {
        output("onclose");
      };
      ws.onerror = function() {
        output("onerror");
      };

    }

    function onLogin() {

      var button = document.getElementById("Login");
      var user = document.getElementById("user");
      var pass = document.getElementById("pass");

      if(user.value.trim() == "")
        return;
      else {
        var msgToSend = {
          user : user.value,
          pass : pass.value,
          type: "credential"
        };
        var stringified = JSON.stringify(msgToSend);
        ws.send(stringified);
        user.focus();
      }
    }
    
    function onCloseClick() {
      ws.close();
    }
    
    function output(str) {
      
      console.log(str);
    }

  </script>

  </head>

  <body onload="init();">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Administration page</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="starter-template" style="margin-top: 200px">

          <form>

            <label style="color: red" id="message"></label>

            <br/>
            <br/>

            <label >Username</label>
            <input name="Text1" type="text" cols="20" rows="1" id="user"></textarea>
            <br/>

            <label >Password</label>
            <input name="Text1" type="password" cols="20" rows="1" id="pass"></textarea>
            <br/>
            <br/>

            <button id="Login" onclick="onLogin(); return false;">Login</button>


          </form>

      </div>

    </div><!-- /.container -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
