<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Ali Khoramshahi">

    <title>Administration Login</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/starter-template.css" rel="stylesheet">

    <!-- Include these three JS files: -->
  <script type="text/javascript" src="/javascripts/swfobject.js"></script>
  <script type="text/javascript" src="/javascripts/web_socket.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-1.11.2.js"></script>
  <script type="text/javascript" src="/javascripts/websocketcommunication.js"></script>
  <script type="text/javascript" src="/javascripts/navigation.js"></script>

  <script type="text/javascript">

    var type = "token";

    function onLogin() {

        var button = document.getElementById("Login");
        var user = document.getElementById("user");
        var pass = document.getElementById("pass");

        if(user.value.trim() == "")
            return;

        else {

            var msgToSend = {
                user : user.value,
                pass : pass.value,
                type: "credential"
            };

            var stringified = JSON.stringify(msgToSend);
            ws.send(stringified);
            user.focus();
        }
    }
  </script>

  </head>

  <body onload="init();" style="background-color: #E1E1E1;">

    <div class="container">
      <div class="starter-template" style="margin-top: 200px">

          <form>

            <label style="color: red" id="message"></label>

            <br/>
            <br/>

            <label >Username</label>
            <input name="Text1" type="text" cols="20" rows="1" id="user"></textarea>
            <br/>

            <label >Password</label>
            <input name="Text1" type="password" cols="20" rows="1" id="pass"></textarea>
            <br/>
            <br/>

            <button id="Login" onclick="onLogin(); return false;">Login</button>

          </form>

      </div>

    </div><!-- /.container -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
